<h1>Home Page</h1>
<p1> Welcome to Brian's test app. </p1>
<p2> This is for testing purposes and for learning. </p2>
<br>
</br>
<table>
<thead>
<tr>
<th> Project Name   |</th>
<th> Description   |</th>
<th> Percent Complete </th>
</tr>
</thead>
</table>
<%= render "shared/projects" %> 